@use 'abstracts' as *;
@use 'sass:map';

* { 
   margin: 0;
   padding: 0;
}

*::before,
*::after {
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: map-get($font-size, large);
}

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
   display: flex;
   justify-content: center;
}

.container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-areas: "nav nav"
                        "header header"
                        "grow grow"
                        "flowing flowing"
                        "users users"
                        "sign-up sign-up"
                        "footer footer";
   // justify-items: center;
}