@use 'abstracts' as *;
@use 'sass:map';

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: clamp(.625rem, 1.25vw, 1.125rem);
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  margin: 0 auto;
  
  @media screen and (max-width: map-get($map: $breakpoints, $key: small)) {
    text-align: center;
  }
}

.page-wrapper {
  display: grid;
  grid-template-rows: max-content .25fr;
  padding: 0 clamp(1.13rem ,7.2%, 5.7rem);
  grid-template-areas:
    "cards"
    "get-started";
  justify-items: center;
  // position: relative;
}

h1, h2,
 h3, h4,
  h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: map-get($colors, veryDarkCyan);
}

button {
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: rem(50);
  box-shadow: 0 rem(3) rem(4) rgba(0, 0, 0, 0.397);
  color: map-get($colors, veryPaleCyan);
  background-color: map-get($colors, pink);
  transition: .1s;

  &:hover {
    transform: translateY(-10%);
    opacity: .5;
  }
}

a {
  color: map-get($map: $colors, $key: veryPaleCyan);
  text-decoration: 0;

  &:hover {
    text-decoration: underline ;
  }
}