@use 'abstracts' as *;

.header-wrapper {
    background-image: url(/images/bg-hero-desktop.svg);
    background-color: map-get($map: $colors, $key: veryPaleCyan);
}

.header-content {
    @include flex (row wrap, space-between, center, 0);
    padding: clamp(1.36rem, 36.3%, 2.6rem) clamp(.875rem, 5.52%, 4.41rem);
    
    &__logo {
        width: clamp(6rem, 20%, 11rem);
    }

    &__btn {
        padding: clamp(.3rem, 1.7%, 1.05rem) clamp(1.3rem, 6%, 3.7rem);
        background-color: white;
        color: map-get($colors, veryDarkCyan );
    }  
}

/////////////////////////////////////////////////////////////////
////////////// Hero Section 
.hero-wrapper {
    @include flex (row wrap, space-between, center, clamp(2.2rem, 5.52%, 4.41rem));
    padding: clamp(1.80rem, 7.47%, 2.4rem)  clamp(2.1rem, 5.31%, 4.25rem);

    @media screen and (max-width: map-get($map: $breakpoints, $key: medium)){
        justify-content: center;
    }
}

.hero-content {
    @include flex (column wrap, 0, flex-start, clamp(2.1rem, 14.67%, 2.6rem));
    max-width: rem(511);

    @media screen and (max-width: map-get($map: $breakpoints, $key: medium)){
        align-items: center;
    }

    &__heading {
        font-size: rem(32);
        max-width: rem(300);
    }

    &__sub-heading {
        color: map-get($colors, veryDarkCyan);
    }
    
    &__btn {
        padding: rem(23) rem(72);
        background-color: map-get($colors, pink);
    }
}

.hero-img {
    width: clamp(16.5rem, 100%, 37.8rem);
}
